# User-specific stuff
.idea/

*.iml
*.ipr
*.iws

# IntelliJ
out/
# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Cache of project
.gradletasknamecache

**/build/

# Common working directory
run/
runs/

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar
!*.jar
/forge/run
/fabric/runs
/logs/
/.architectury-transformer/
/fsr2-win64/
/fsr2_win64/.vs/
/fsr2_win64/.vscode/
/fsr2_win64/x64/
/fsr2_win64/fsr2_win64/
build.properties
build_jars
/script/fsr1_common.glsl
/script/fsr1_easu.comp.glsl
/script/fsr1_easu_fp16.comp.glsl
/script/fsr1_main.glsl
/script/fsr1_rcas.comp.glsl
/script/fsr1_rcas_fp16.comp.glsl
/script/FSRCNNX_x2_8-0-4-1.glsl
/script/glsl_preprocessor.py
/script/remove_unused_functions.py
/script/test.ipynb
/fabric/bin
/forge/bin
/neoforge/bin
/common/bin
/native/bin

.vscode
/native/cpp/bin/
*/bin/*
/bin


/native/cpp/SRNativeMain/libraries/android
/native/cpp/SRNativeMain/libraries/linux64
/native/cpp/SRNativeMain/libraries/win64
/native/cpp/SRNativeMain/libraries/macarm64

*.pdb
/native/cpp/output/
/native/cpp/prebuilt/
/native/cpp/buildLinux/*
/native/cpp/buildWindows/*
/native/cpp/buildWindows*
/native/cpp/buildLinux*
/native/cpp/buildWindowsOnLinux*/*
__pycache__
/native/cpp/SRNativeFSR/libraries/
/native/cpp/SRNativeMain/libraries/
/.claude/
/common/src/main/resources/lib/
.gradle*
/AGENTS.md.bak
/.codemoss/
/logs_phase2c/
/common/logs/
/dist/
